.custom-products {
	display: flex;
	align-items: center;
	padding-top: 8rem;
	flex-direction: column;
	box-sizing: border-box;
	width: 90vw;
	height: 65vh;
	border-radius: 3vw;
	margin: auto;
}

h2 {
    margin: 0 auto 50px;
    font-size: 40px;
}


/*CARD 19*/
.card--mod-19 { background: #191c29; width: var(--card--19-width); height: var(--card--19-height); position: relative; border-radius: 6px; flex-direction: column; text-align: center; display: flex; font-family: sans-serif; cursor: pointer; transition: .5s all;}
.card--mod-19 .card__cover{ width: 100%; max-height: 300px;}
.card--mod-19 .card__title{ font-size: 1em; margin: 0; color: #fff; background: #191c29; height: 100%; display: flex; justify-content: center; align-items: center;}
.card--mod-19:hover { transition: .5s all; transform: scale(1.05);}
.card--mod-19:hover:before, .card--mod-19:hover:after { animation: spin;}
.card--mod-19::before { content: ""; width: 104%; height: 102%; border-radius: 8px; background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2); position: absolute; z-index: -1; top: -1%; left: -2%; animation: spin 2.5s linear infinite; }
.card--mod-19::after { position: absolute; content: ""; top: calc(var(--card--19-height) / 6); left: 0; right: 0; z-index: -1; height: 100%; width: 100%; margin: 0 auto; transform: scale(0.8); filter: blur(calc(var(--card--19-height) / 6)); background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2); opacity: 1; transition: opacity .5s; animation: spin 2.5s linear infinite;}
@keyframes spin {0% {--rotate: 0deg; } 100% {--rotate: 360deg;}}

@property --rotate { syntax: "<angle>"; initial-value: 132deg; inherits: false;}
/*Adicionar ao root*/
:root {
  --card--19-height: 340px;
  --card--19-width: 250px;
}


/* GRID SYSTEM */

.wrapper{ max-width: 1180px; margin: 0 auto;}
.grid { display: grid }
.grid:after, .grid:before { clear: both }
.grid-col-4 { grid-template-columns: repeat(4, 1fr); grid-gap: 25px; width: 100% }
    /* SMALL DEVICE TO LARGE DEVICE */
   @media only screen and (min-width:576px) and (max-width:992px) {
      [class*="grid-col"]:not(.grid-col-3) { grid-template-columns: repeat(2, 1fr) }
  }

   /* SMALL DEVICE */
   @media only screen and (max-width: 576px) {
      [class*="grid-col-"] { grid-template-columns: repeat(1, 1fr); }
  }

/*END GRID SYSTEM*/
